# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Epitaph1202.iml
# Datasource local storage ignored files
/../../../../../../:\UnityRepo\Epitaph1202\.idea\.idea.Epitaph1202\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
